@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html,
body {
  height: 100vh;
}

header {
  h1 {
    padding: 35px;
    text-align: center;
  }
}

main {
  margin: 100px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(211, 252, 238, 0.678);
  font-size: 1.15em;

  .logout-btn {
    text-align: right;
    button {
      padding: 5px 15px 5px 15px;
      border-radius: 5px;     
      font-size: 0.85em;
    }
  }

  .form-section {
    p {
      padding: 10px;
    }

    .btn-wrapper {
      text-align: center;
      input {
        padding: 5px 15px 5px 15px;
        border-radius: 5px;
        font-size: 0.85em;
      }
    }

    .input-wrapper {
      padding: 10px;
      gap: 10px;

      .input-content {
        margin: 5px;

        input {
          padding: 5px;
          border-radius: 5px;
        }

        select {
          padding: 5px 0px 5px 50px;
          border-radius: 5px;
        }
      }
    }
  }
}