main {
  background-color: aquamarine;
  text-align: center;
}

.row { 
  background: pink;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 10px;
  text-align: center;

  .column {
    display: flex;
    float: left;
    width: 50%;
    background-color:darksalmon;
    font-size: 2em;
  }
}
